rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, update: if isOwner(userId);
      allow create: if isOwner(userId);

      // Wallets Subcollection
      match /wallets/{walletId} {
        allow create: if request.auth.uid == request.resource.data.userId;
        allow read, update, delete: if isOwner(userId);
      }

      // Transactions Subcollection
      match /transactions/{transactionId} {
        allow create: if request.auth.uid == request.resource.data.userId;
        allow read: if isOwner(userId);
      }
    }
  }
}
